<html>
<head>
	<title>Venta de Comida</title>
</head>
<body>
	<p id="p1">HTML es tan <strong>pendejo</strong> que me va costar aprender.</p>
	
	<p id="p2">Ademas no tengo <strong>Idea</strong> tambien se pueden poner en <em>cursiva</em> o <del>tachados</del> </p>

	<a id="enlace" href="http://www.google.com">Enlace</a>
		
</body>
</html>